html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

.header{
    width: 100%;
    height: 10%;
    background-color: rgb(157, 33, 33);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em 2em;
    border-radius: 1em;
    box-sizing: border-box;


}

.header_heading{
    font-size: 25px;
    color: blue;

}
.header_nav{
    width: 20%;

}
.header_menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    color: blue;

}
.header_menu_li:nth-child(even){
    color: aqua;
}
.main{
    width: 80%;
    height: 90%;
    padding: 1em;
    box-sizing: border-box;

}
.main_profile_info_block{

    width: 80%;
    height: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

profile_info{

    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;

}
profile_photo{
width: 100%;
height: 90%;

}
.profile_username{
    font-size: 14px;
    margin: 0;

}

.profile_description{

    width: 40%;
    height: 50%;
  
}

.profile_descr_text{
    font-size: 14px;
    width: 100%;
    height: 100%;
}